/*Estilo Global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
}
/*Secao Banner*/
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.banner video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-info{
    width: 768px;
    height: 500px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.banner-info h1 {
    text-align: center;
    font-size: 2.2em;
    font-family: 'Ysabeau Infant', sans-serif;
    color: #fff;
    text-shadow: 0px 7px 4px #000000;
}
hr {
    width: 44px;
    height: 5.7px;
    background-image: linear-gradient(45deg, #ffdf00, #009c3b);
    border-radius: 7px;
} 
#verificado { 
    width: 17px;
}
.banner-info-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom, #ffdf00, #009c3b);
    border-radius: 50%;
}
.banner-info-imagem img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}
.banner-info-links {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 768px;
}
.banner-info-links-secao {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 250px;
    width: 400px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background: #0200006e;
}
.banner-info-links-secao img {
    width: 30px;
    border-radius: 50%;
}
a {  
    color: #fff;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.banner-info-links-secao:hover {
    background: #fff;
}
a:hover {
    color: #000000;
    font-weight: bold;

}
