@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ysabeau Infant', sans-serif;
}
/*Seção Banner*/
.secao-banner {
    width: 100%; /*Largura da área do Banner*/
    height: 100vh; /* Altura da área do Banner*/
    display: flex; /* Transformando a área banner em Flex-Box*/
    align-items: center;
    justify-content: center;
}
.secao-banner video {
    position: absolute; 
    /*Não tem elemento pai, será poscionado à partir do canto sup. esq. e poderá sobrepor*/
    z-index: -1;
    width: 100%; /*Largura da área do VÍDEO*/
    height: 100%; /*Altura da área do VÍDEO*/
    object-fit: cover;/*Propiedade faz o objeto se ajustar em todo contanier*/
}
/*Seção Info*/
.contanier-info {
    width: 768px;/*Largura da área do Contanier-info*/
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}
/*Estilo da Imagem/Título de Perfil*/
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.imagemPerfil {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url('../Imagens/neymar.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagemPerfil::before {
    content: "";
    position: absolute;
    width: 215px;
    height: 215px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    z-index: -1;
    border-radius: 100%;
}
.contanier-info h1 {
    position: relative;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 6px 3px #000000;
}
h1::before { /*Estilo para TARJA*/
    content: "";
    position: absolute;
    width: 55px;
    height: 5px;
    bottom: 2px;
    left: 5px;
    border-radius: 4px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
}
h1::after { /*Estilo para o item VERIFICADO*/
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 12px;
    right: -20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../Imagens/verificado.png');
}
